<?xml version="1.0"?>


<robot xmlns:xacro="http://ros.org/wiki/xacro" name="solo">

    <!-- Things that are needed only for Gazebo (not the physical robot). These include sensor and controller plugin specifications -->
    <xacro:include filename="$(find starbot_description)/urdfs/leg.transmission.xacro"/>
    <xacro:include filename="$(find starbot_description)/urdfs/leg.gazebo.xacro"/>


    <!-- This macro has for purpose to define a leg -->
    <xacro:macro name="leg" params="prefix robot_name">
    
           <!-- TODO ADD JOINTS AND LINKS -->



	  <!-- TODO ADD JOINTS AND LINKS -->




        <!-- FOOT -->
        <link name="${prefix}_foot">
            <!-- FOOT INERTIAL -->
           
            <!-- FOOT VISUAL -->
            
            <!-- FOOT COLLISION -->
           

	</link> <!-- END FOOT LINK -->

        <!-- Extensions -->
        <xacro:leg_transmission name="${prefix}"/>
        <xacro:leg_gazebo name="${prefix}" robot_name="${robot_name}"/>
    </xacro:macro>
</robot>
